@model IEnumerable<MVC_Badge_System.Models.Badge>

@{
    ViewBag.Title = "Badge List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Badge List</h2>

<p>
    @Html.ActionLink("New Badge", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            <!--Picture-->
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.SelfGive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentGive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffGive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyGive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!String.IsNullOrEmpty(item.Picture))
            {
                <img src="@item.Picture" style="max-height: 50px; width:auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfGive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentGive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffGive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyGive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BadgeId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BadgeId })
            @if (item.RetirementDate == null || item.RetirementDate > DateTime.Now)
            {
                <span>| </span>
                if (item.BeginDate == null || item.BeginDate > DateTime.Now)
                {
                    @Html.ActionLink("Start", "SetBeginDate", new { id = item.BadgeId })
                }
                else
                {
                    @Html.ActionLink("Retire", "SetRetirementDate", new { id = item.BadgeId })
                }
            } 
        </td>
    </tr>
}

</table>
