<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="theme" href="/css/bootstrap-theme.css">
    <link rel="JS" href="/JS/bootstrap.js">
</head>
<body>
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Tree", "Index", "Home")</li>
        <li>@Html.ActionLink("Give Badge", "GiveBadge", "Home")</li> 
        <li>@Html.ActionLink("Create Badge", "CreateEditBadge", "Home")</li>
        <div class="gst-studentsearch" id="gst-ss-redirect">
            <input type="search" list="redirect_list" placeholder="Search..." />
            <datalist id="redirect_list" class="gst-ss-results"></datalist>
        </div>
        
</ul>
    <div class="tab-content"></div>
 
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
	<script src="~/content/SearchModule.js?Build=@Guid.NewGuid().ToString()"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            window.SearchModule.init();
        });
    </script>
	
	@RenderBody()
	
    @RenderSection("scripts", required: false)
    @RenderSection("scriptsIncludes", false)
    @RenderSection("inlineScript", false)
</body>
</html>