<!DOCTYPE html>

<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="theme" href="/css/bootstrap-theme.css">
<link rel="JS" href="/JS/bootstrap.js">

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Tree", "Index", "Home")</li>
        <li>@Html.ActionLink("Give Badge", "GiveBadge", "Home")</li> 
        <li>@Html.ActionLink("Create Badge", "CreateEditBadge", "Home")</li>
        <input type="search" id="txtSearch" list="user_list" placeholder="Search..." />
        <div id="results"></div>
</ul>
    <div class="tab-content"></div>

    @RenderBody()
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("scriptsIncludes", false)
    @RenderSection("inlineScript", false)
</body>
</html>