@using MVC_Badge_System.Models

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="theme" href="/css/bootstrap-theme.css">
	<link rel="JS" href="/JS/bootstrap.js">
</head>
<body>
	<ul class="nav nav-tabs">
		@{  string curController = ViewContext.RouteData.Values["Controller"].ToString();
			string curAction = ViewContext.RouteData.Values["Action"].ToString();
			UserType userType = UserType.Student;//FIXME:hardcoded--needs to be based on session
		}
		<!--Student tabs-->
		@if (userType == UserType.Student)
		{
			<li class="@(curAction == "TreeIndex" && curController == "Gift" ? "active" : "")">@Html.ActionLink("Tree", "TreeIndex", "Gift")</li>
			<li class="@(curAction == "GridIndex" && curController == "Gift" ? "active" : "")">@Html.ActionLink("Grid", "GridIndex", "Gift")</li>

		}
		<li class="@(curAction == "GiveBadge" && curController == "Home" ? "active" : "")">@Html.ActionLink("Give Badge", "GiveBadge", "Home")</li> 
		<!--Admin tabs-->
		@if (userType == UserType.Admin)
		{
			<li class="@(curController == "User" ? "active" : "")">@Html.ActionLink("Users", "List", "User")</li>
			<li class="@(curController == "Badge" ? "active" : "")">@Html.ActionLink("Badge Bank", "List", "Badge")</li>
		}
		
		<!--Search bar for admin, faculty, and staff-->
		@if (userType == UserType.Admin || userType == UserType.Faculty || userType == UserType.Staff)
		{
			<div class="gst-studentsearch" id="gst-ss-redirect">
				<input type="search" list="redirect_list" placeholder="Search..." />
				<datalist id="redirect_list" class="gst-ss-results"></datalist>
			</div>
		}
		
        <!--Looks like sin, needs fixed-->
		<div>@Html.ActionLink("Log out", "Logout", "Login", null, new { @class = "btn btn-primary" })</div>
		<div>@Html.ActionLink("Sign in", "Login", "Login", new { returnUrl = Url.Action("Home", "Index") }, new { @class = "btn btn-primary" })</div>
		
</ul>   
	<div class="tab-content"></div>
 
	@Scripts.Render("~/scripts/jquery")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/scripts/jquery-1.10.2.min.js"></script>
	<script src="~/scripts/bootstrap.min.js"></script>
	<!--Search bar for admin, faculty, and staff-->
	@if (userType == UserType.Admin || userType == UserType.Faculty || userType == UserType.Staff)
	{
		<script src="~/content/SearchModule.js?Build=@Guid.NewGuid().ToString()"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				window.SearchModule.init();
			});
		</script>
	}

	@RenderBody()
	
	@RenderSection("scripts", required: false)
	@RenderSection("scriptsIncludes", false)
	@RenderSection("inlineScript", false)
</body>
</html>